   <title>Home Masonry| Mental - Retina Responsive HTML5 Photgraphy Template</title>
      <div id="wrapper">
         <div id="menu-bar">
            <aside>
               <div class="mb-body ps-container" style="position: relative; overflow: hidden;">
                  <div class="mb-header hidden-xs">
                     <%= image_tag asset_path("logo.png"), class: "logo" %>
                     <p class="mb-site-descr">Multipurpose Portfolio</p>
                  </div>
                  <div class="mb-content">
                     <nav>
                        <ul id="mb-main-menu">
                           <li class="menu-item-has-children">
                              <a href="#">Home</a>
                              <a class="submenu-toggler" href="#"><i class="fa fa-plus"></i></a>
                              <ul>
                                 <li><a href="#">Home v1 - Sidebar Menu / Gallery</a></li>
                              </ul>
                           </li>
                           <li class="menu-item-has-children">
                              <a>Gallery</a>
                              <a class="submenu-toggler" href="#"><i class="fa fa-plus"></i></a>
                              <ul>
                                 <li><a href="#">Gallery 3 Column Grid</a></li>
                              </ul>
                           </li>
                           <li><a href="about-us.html">About Us</a></li>
                           <li><a href="services.html">Services</a></li>
                           <li class="menu-item-has-children">
                              <a>Blog</a>
                              <a class="submenu-toggler" href="#"><i class="fa fa-plus"></i></a>
                              <ul>
                                 <li><a href="blog-sidebar.html">Blog with Sidebar</a></li>
                              </ul>
                           </li>
                           <li><a href="shortcodes.html">Shortcodes</a></li>
                           <li><a href="contact.html">Contact</a></li>
                        </ul>
                     </nav>
                  </div>
                  <div class="mb-footer">
                     <h4>About us</h4>
                     <p>We are team of creative photographers. We passionate with photography and other creative things.</p>
                     <div class="mb-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-tumblr"></i></a>
                     </div>
                     <div class="mb-copyright">
                        <p>© 2014 All rights reserved</p>
                        <p>Developed by Versuasions</p>
                     </div>
                  </div>
               <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px; width: 215px; display: none;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px; height: 726px; display: inherit;"><div class="ps-scrollbar-y" style="top: 0px; height: 671px;"></div></div></div> <!-- mb-body -->
               <a href="#" class="mb-toggler"><i class="fa fa-bars"></i></a>
            </aside>
         </div>
         <div id="header-mobile" class="visible-xs">
            <header>
               <div class="m-header-body">
                  <p class="m-site-descr">Multipurpose Portfolio</p>
               </div>
            </header>
         </div>

         <div id="header" class="hd-filters">
            <header>
               <ul class="gallety-filters">
                  <li class="active"><a data-filter="*" href="http://d.azelab.com/mental/Demo/home-expanding-preview.html#">All</a></li>
                  <li><a data-filter="nature" href="http://d.azelab.com/mental/Demo/home-expanding-preview.html#">Nature</a></li>
                  <li><a data-filter="fashion" href="http://d.azelab.com/mental/Demo/home-expanding-preview.html#">Fashion</a></li>
                  <li><a data-filter="people" href="http://d.azelab.com/mental/Demo/home-expanding-preview.html#">People</a></li>
                  <li><a data-filter="animals" href="http://d.azelab.com/mental/Demo/home-expanding-preview.html#">Animals</a></li>
                  <li class="gf-underline" style="left: 0px; width: 103px;"></li>
               </ul>
            </header>
         </div>
         <div id="main">

            <div class="section no-padding st-invert">
               <section>
                  <ul id="gallery-w-preview" class="gallery gl-cols-5 gl-fixed-items" style="position: relative; height: 1002px;">
                     <li class="gl-item gl-fixed-ratio-item" data-category="*" data-order="30" style="position: absolute; left: 500px; top: 0px;">
                        <a href="#">
                           <figure>
                              <%= image_tag asset_path("33.jpg") %>
                              <figcaption>
                                 <div class="middle"><div class="middle-inner">
                                    <p class="gl-item-icon"><i class="fa fa-picture-o"></i></p>
                                    <p class="gl-item-title">Slider</p>
                                    <p class="gl-item-category">People</p>
                                 </div></div>
                              </figcaption>
                           </figure>
                        </a>
                        <div class="gl-preview" style="diplay:none;">
                           <span class="glp-arrow"></span>
                           <a href="#" class="glp-close"></a>
                           <div class="row gl-preview-container">
                              <div class="col-sm-8">
                                 <div id="carousel-gallery-1" class="carousel slide" data-ride="carousel">
                                    
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                       <div class="item">
                                          <%= image_tag asset_path("33.jpg") %>
                                       </div>
                                       <div class="item">
                                          <%= image_tag asset_path("02.jpg") %>
                                       </div>
                                       <div class="item active">
                                          <%= image_tag asset_path("03.jpg") %>
                                       </div>
                                    </div>

                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                       <li data-target="#carousel-gallery-1" data-slide-to="0" class=""></li>
                                       <li data-target="#carousel-gallery-1" data-slide-to="1" class=""></li>
                                       <li data-target="#carousel-gallery-1" data-slide-to="2" class="active"></li>
                                    </ol>
                                    
                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#" data-slide="prev">
                                       <span></span>
                                    </a>
                                    <a class="right carousel-control" href="#" data-slide="next">
                                       <span></span>
                                    </a>

                                 </div> <!-- carousel -->
                              </div>
                              <div class="col-sm-4 lg-preview-descr">
                                 <h4>Girl in the street</h4>
                                 <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
                                 <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
                                 <button class="btn btn-primary glp-readmore">Read More</button>
                                 <div class="mb-social glp-social">
                                    <p>Share</p>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-tumblr"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div> <!-- gl-preview -->
                     </li>
                     <li class="gl-item gl-fixed-ratio-item col-md-2" data-category="all" data-order="20">
                        <a href="#">
                           <figure>
                              <%= image_tag asset_path("33.jpg") %>
                              <figcaption>
                                 <div class="middle"><div class="middle-inner">
                                    <p class="gl-item-icon"><i class="fa fa-picture-o"></i></p>
                                    <p class="gl-item-title">Slider</p>
                                    <p class="gl-item-category">People</p>
                                 </div></div>
                              </figcaption>
                           </figure>
                        </a>
                        <div class="gl-preview" style="diplay:none;">
                           <span class="glp-arrow"></span>
                           <a href="#" class="glp-close"></a>
                           <div class="row gl-preview-container">
                              <div class="col-sm-8">
                                 <div id="carousel-gallery-1" class="carousel slide" data-ride="carousel">
                                    
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                       <div class="item">
                                          <%= image_tag asset_path("33.jpg") %>
                                       </div>
                                       <div class="item">
                                          <%= image_tag asset_path("02.jpg") %>
                                       </div>
                                       <div class="item active">
                                          <%= image_tag asset_path("03.jpg") %>
                                       </div>
                                    </div>

                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                       <li data-target="#carousel-gallery-1" data-slide-to="0" class=""></li>
                                       <li data-target="#carousel-gallery-1" data-slide-to="1" class=""></li>
                                       <li data-target="#carousel-gallery-1" data-slide-to="2" class="active"></li>
                                    </ol>
                                    
                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#" data-slide="prev">
                                       <span></span>
                                    </a>
                                    <a class="right carousel-control" href="#" data-slide="next">
                                       <span></span>
                                    </a>

                                 </div> <!-- carousel -->
                              </div>
                              <div class="col-sm-4 lg-preview-descr">
                                 <h4>Girl in the street</h4>
                                 <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
                                 <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
                                 <button class="btn btn-primary glp-readmore">Read More</button>
                                 <div class="mb-social glp-social">
                                    <p>Share</p>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-tumblr"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div> <!-- gl-preview -->
                     </li>
                     <li class="gl-item gl-fixed-ratio-item col-md-2" data-category="all" data-order="30">
                        <a href="#">
                           <figure>
                              <%= image_tag asset_path("33.jpg") %>
                              <figcaption>
                                 <div class="middle"><div class="middle-inner">
                                    <p class="gl-item-icon"><i class="fa fa-picture-o"></i></p>
                                    <p class="gl-item-title">Slider</p>
                                    <p class="gl-item-category">People</p>
                                 </div></div>
                              </figcaption>
                           </figure>
                        </a>
                        <div class="gl-preview" style="diplay:none;">
                           <span class="glp-arrow"></span>
                           <a href="#" class="glp-close"></a>
                           <div class="row gl-preview-container">
                              <div class="col-sm-8">
                                 <div id="carousel-gallery-1" class="carousel slide" data-ride="carousel">
                                    
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                       <div class="item">
                                          <%= image_tag asset_path("33.jpg") %>
                                       </div>
                                       <div class="item">
                                          <%= image_tag asset_path("02.jpg") %>
                                       </div>
                                       <div class="item active">
                                          <%= image_tag asset_path("03.jpg") %>
                                       </div>
                                    </div>

                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                       <li data-target="#carousel-gallery-1" data-slide-to="0" class=""></li>
                                       <li data-target="#carousel-gallery-1" data-slide-to="1" class=""></li>
                                       <li data-target="#carousel-gallery-1" data-slide-to="2" class="active"></li>
                                    </ol>
                                    
                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-post-1" data-slide="prev">
                                       <span></span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-post-1" data-slide="next">
                                       <span></span>
                                    </a>

                                 </div> <!-- carousel -->
                              </div>
                              <div class="col-sm-4 lg-preview-descr">
                                 <h4>Girl in the street</h4>
                                 <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
                                 <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
                                 <button class="btn btn-primary glp-readmore">Read More</button>
                                 <div class="mb-social glp-social">
                                    <p>Share</p>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-tumblr"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div> <!-- gl-preview -->
                     </li>
                  </ul> <!-- gallery -->
               </section>
            </div> <!-- section -->


            <div id="footer" class="ft-single-post text-center">
               <footer>
                  <a href="#" class="footer-loadmore" data-link="#" data-offset="5" data-items-per-page="5">Load more</a>
                  <span class="loading-spinner" style="display:none;"></span>
               </footer>
            </div>

         </div> <!-- main -->

      </div> <!-- wrapper -->